.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Default styles (mobile) */
  @apply w-[90%] py-10 px-4;

  /* Small screens (sm) and above */
  @apply sm:w-[70%] sm:py-12 sm:px-5;

  /* Medium screens (md) and above */
  @apply md:w-[50%] md:py-16 md:px-6;

  /* Large screens (lg) and above */
  @apply lg:w-[40%] lg:py-20 lg:px-7;

  /* Extra large screens (xl) and above */
  @apply xl:w-[30%] xl:py-20 xl:px-7;
}

.profile_img {
  @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
  @apply hover:border-gray-200;
}

.textbox {
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
  @apply focus:outline-blue-500;
}

.btn {
  @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover {
  background-color: #ff6a6a;
}

input[type="file"] {
  display: none;
}
